@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  font-family: 'Mukta', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif impor !important;
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.5625rem;
} 

.navbar-nav a {
  color: #fff !important;
  text-transform: uppercase;
  margin: 0rem 0.625rem;
  font-size: .8rem;
  border-top: 3px solid rgba(255,255,255,0);
}

.navbar-nav a:focus {
  border-top: 3px solid orange;
}
